/* app.css */
h1,h2,h3,h4 { font-family: "Open Sans", Helvetica, Arial; font-weight: normal; }
footer {margin-top: 20px; }
.navbar-fixed-bottom { position: static; }
/* Responsive
-------------------------------------------------- */
/* Large desktop */
@media (min-width: 1200px) {
    
}

/* Default */
@media (min-width: 980px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
    
}