/* app.css */
body { font: 13px/1.3em Helvetica, Arial; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.4; margin: 10px 0 0  }
hr { margin: 5px 0 20px 0; }
footer { margin-top: 80px; }

.navbar-fixed-bottom { position: static; }

/* Responsive
-------------------------------------------------- */

/* Default */
@media (min-width: 980px) {
    h1 { font-size: 3em; }
    h2 { font-size: 2.4em; }
    h3 { font-size: 2em; }
    h4 { font-size: 1.4em; }
    h5 { font-size: 1.2em; }
    h6 { font-size: 1.1em; }
}

/* Large desktop */
@media (min-width: 1200px) {
    h1 { font-size: 3.6em; }
    h2 { font-size: 3em; }
    h3 { font-size: 2.4em; }
    h4 { font-size: 1.8em; }
    h5 { font-size: 1.4em; }
    h6 { font-size: 1.2em; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    h1 { font-size: 2.4em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.8em; }
    h4 { font-size: 1.4em; }
    h5 { font-size: 1.2em; }
    h6 { font-size: 1.1em; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.6em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1.15em; }
    h6 { font-size: 1.05em; }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1.1em; }
    h6 { font-size: 1em; }
}