/*!
 * app.css
 * base-app 2.0
 */
#wrap {
    min-height: 600px;
}

#wrap > .container {
    margin-top: 51px;
    padding: 15px 0;
}

.navbar-inverse label {
    color: #999;
}

footer.navbar-default {
    background-color: #fff;
    margin-bottom: 0;
}

.navbar-text {
    margin-left: 15px;
}

pre {
    padding: 0;
}

/* Extra small devices (phones) */
@media (max-width: 767px) {
    .pull-none {
        float: none!important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* Tablet only */
@media (min-width: 768px) and (max-width: 991px){
    .navbar-form .form-group {
        max-width: 135px;
    }
    .navbar-form .form-group input {
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}